name: Build Spring Petclinic with JFrog Artifactory

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  build:
    name: 'Barum Build Spring Petclinic'
    env:
      JFROG_CLI_BUILD_NAME: 'Barum Spring Petclinic from GitHub workflow'
      JFROG_CLI_BUILD_NUMBER: ${{ github.run_number }}
      JFROG_CLI_BUILD_PROJECT: ${{ vars.JF_PROJECT }}
      JFROG_CLI_LOG_LEVEL: INFO
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [17 ]
        include:
          - language: ['java-kotlin']
            build-mode: none

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      - 
        name: Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java}}
          distribution: 'adopt'
          cache: maven
          cache-dependency-path: 'pom.xml'

      - 
        name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: latest
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_USER: ${{ secrets.JF_USER }}
          # JF_PASSWORD: ${{ secrets.JF_PASSWORD }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      - 
        name: Verify JFrog CLI and Environment
        run: |
          # verify installations
          echo "=========== Verifying Installations ==========="
          jf --version
          # Java

          echo "=========== JAVA Environment Details ==========="
          java -version
          
          echo "=========== MAVEN Environment Details ==========="
          mvn -version

          echo " =========== ENV VARIABLES ==========="
          docker -v

          echo " =========== Python Environment Details ==========="
          python3 -V
        
          echo " =========== PIP Environment Details ==========="
          pip3 -V

          echo "=========== JFrog CLI Configuration0 show ==========="
          jf config show

          echo "=========== Adding JFrog Configuration ==========="
          jf c add --user=${{ secrets.JF_USER }} --url=${{vars.JF_URL}} --access-token=${{ secrets.JF_ACCESS_TOKEN}} --interactive=false

          echo "=========== JFrog CLI Configuration0 show ==========="
          jf config show

          echo "=========== Pinging JFrog Server ==========="          
          jf rt ping          
     
      -
        name: Configure Build
        run: |
          echo "=========== Configuring Maven Repositories ==========="
          jf mvn-config --repo-resolve-releases fg-maven --repo-resolve-snapshots fg-maven --repo-deploy-releases fg-maven-dev-local-releases --repo-deploy-snapshots fg-maven-dev-local-snapshots

          echo "=========== Setting up Environment Variables petclinicArtifactName ==========="
          echo "petclinicArtifactName=$(mvn help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> $GITHUB_ENV
          
          echo "=========== Setting up Environment Variables petclinicVersion ==========="
          echo "petclinicVersion=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      # -
      #   name: JFrog Curation Audit
      #   run: |
      #     jf curation-audit
      # -
        # name: Audit Source Code
        # run: |
        #   jf audit --licenses --format=table --mvn=true
      -
        name: Build Maven package
        run: |
          echo "=========== Building Maven package ==========="        
          mvn $MAVEN_CLI_OPTS clean compile

          
          echo "=========== Building Maven clean install Package ==========="
          jf mvn clean install -DskipTests=true -Dtest=!PostgresIntegrationTests* '-Dspring-javaformat.skip=true' --project ${{ env.JFROG_CLI_BUILD_PROJECT }} -Dartifactory.publish.artifacts=false
      -
        name: Scan Maven package
        run: |
          echo "=========== Scanning Maven package ==========="
          jf scan --vuln --licenses --format=json ./target/${{ env.petclinicArtifactName }}-${{ env.petclinicVersion }}.jar
      -
        name: Deploy Maven package to Artifactory
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Deploying Maven Package to Artifactory ==========="
          jf mvn deploy -Dmaven.main.skip=true -Dmaven.install.skip=true -DskipTests --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Build Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Building Docker image ==========="
          jf docker build -t soleng.jfrog.io/fg-docker/${{ env.petclinicArtifactName }}:${{ env.petclinicVersion }} --build-arg petclinicArtifact=./target/${{ env.petclinicArtifactName }}-${{ env.petclinicVersion }}.jar .
          jf docker push soleng.jfrog.io/fg-docker/${{ env.petclinicArtifactName }}:${{ env.petclinicVersion }} --project ${{ env.JFROG_CLI_BUILD_PROJECT }}
      -
        name: Scan Docker image
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Scanning Docker image ==========="
          jf docker scan soleng.jfrog.io/fg-docker/${{ env.petclinicArtifactName }}:${{ env.petclinicVersion }} --severity='HIGH,CRITICAL' --vuln
      -
        name: Publish build info
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Publishing build info ==========="
          jf rt build-publish --project ${{ env.JFROG_CLI_BUILD_PROJECT }} "${{ env.JFROG_CLI_BUILD_NAME }}" "${{ env.JFROG_CLI_BUILD_NUMBER }}"
      -
        name: Scan build
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Scanning build ==========="
          jf build-scan --vuln --fail=false --project ${{ env.JFROG_CLI_BUILD_PROJECT }} "${{ env.JFROG_CLI_BUILD_NAME }}" "${{ env.JFROG_CLI_BUILD_NUMBER }}"
      -
        name: Create Release Bundle
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=== Generating Release Bundle ==="
          echo '
                {
                  "builds": [
                    {
                      "name": "${{ env.JFROG_CLI_BUILD_NAME }}",
                      "number": "${{ env.JFROG_CLI_BUILD_NUMBER }}",
                      "project": "${{ env.JFROG_CLI_BUILD_PROJECT }}"
                    }
                  ]
                }
          ' > builds.json
          jf release-bundle-create --builds=./builds.json --project ${{ env.JFROG_CLI_BUILD_PROJECT }} --signing-key fredericg-gpg "${{ env.petclinicArtifactName }}" "${{ env.petclinicVersion }}-build${{ env.JFROG_CLI_BUILD_NUMBER }}"
