name: AAA-Build Spring Petclinic with JFrog Artifactory

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:


jobs:
  build:
    name: 'Barum Build Spring Petclinic'
    env:
      JFROG_CLI_BUILD_NAME: 'AAA-Barum-Build-Spring-Petclinic'
      JFROG_CLI_BUILD_NUMBER: ${{ github.run_number }}
      JFROG_CLI_BUILD_PROJECT: ${{ vars.JF_PROJECT }}
      JFROG_CLI_LOG_LEVEL: ${{ vars.JFROG_CLI_LOG_LEVEL }}
      MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.defaultLogLevel=warn"
      MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version"

    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: ['17']
        # include:
          # - language: ['java-kotlin']
          #   build-mode: none

    steps:
      -
        name: 05-Checkout
        uses: actions/checkout@v4
      - 
        name: 10-Set up JDK ${{matrix.java}}
        uses: actions/setup-java@v4
        with:
          java-version: ${{matrix.java}}
          distribution: 'temurin'
          cache: maven

      - 
        name: 15-Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: latest
        env:
          JF_URL: ${{ vars.JF_URL }}
          JF_USER: ${{ secrets.JF_USER }}
          # JF_PASSWORD: ${{ secrets.JF_PASSWORD }}
          JF_ACCESS_TOKEN: ${{ secrets.JF_ACCESS_TOKEN }}
      - 
        name: 20-Verify JFrog CLI and Environment
        run: |
          # verify installations
          echo "=========== Verifying Installations ==========="
          jf --version
          # Java

          echo "=========== JAVA Environment Details ==========="
          java -version
          
          echo "=========== MAVEN Environment Details ==========="
          mvn -version

          echo "=========== MAVEN Environment Details ==========="
          ./mvnw -version
          
          
          echo " =========== ENV VARIABLES ==========="
          docker -v

          echo " =========== Python Environment Details ==========="
          python3 -V
        
          echo " =========== PIP Environment Details ==========="
          pip3 -V

          echo "=========== JFrog CLI Configuration0 show ==========="
          jf config show

          echo "=========== Adding JFrog Configuration ==========="
          jf c add --user=${{ secrets.JF_USER }} --url=${{vars.JF_URL}} --access-token=${{ secrets.JF_ACCESS_TOKEN}} --interactive=false

          echo "=========== JFrog CLI Configuration0 show ==========="
          jf config show

          echo "=========== Pinging JFrog Server ==========="          
          jf rt ping


# =======================================================
# This is the first part of the workflow with basic steps
# to build the maven project. 
# intent is to show how to build the maven project and
# upload artifacts to artifactory without using JFrog Maven Plugin
# =======================================================          
      -
        name: 25_A-Build Maven package
        run: |
          echo "=========== Building Maven package ==========="
          pwd=$PWD
          echo "Current working directory: $pwd"
          DIR=$(ls -al)
          echo "Directory listing: $DIR"
          ./mvnw -X --batch-mode --errors --fail-at-end --show-version package -DskipTests
      -
        name: 25_B-Upload Artifacts to JFrog Artifactory JF CLI without integration with JFrog Maven Plugin
        run: |          
          echo "=========== Setting up Environment Variables FULL_IMAGE_NAME ==========="
          FULL_IMAGE_NAME="${{ vars.JF_HOST }}/${{ vars.JF_DOCKER_REPO_NAME }}/${{ vars.JF_PROJECT }}/spring-petclinic:${{ github.run_number }}"
          echo "FULL_IMAGE_NAME=$FULL_IMAGE_NAME"

          echo "FULL_IMAGE_NAME=$FULL_IMAGE_NAME" >> $GITHUB_ENV
          echo "============ Uploading Artifacts to Artifactory ==========="

          echo "Artifact Path: target/*.jar to Repository: ${{vars.JF_REPO_NAME}} with Build Name: ${{env.JFROG_CLI_BUILD_PROJECT}} and Build Number: ${{env.JFROG_CLI_BUILD_NUMBER}}"


          jf rt u "target/*.jar" ${{vars.JF_REPO_NAME}} --build-name=${{env.JFROG_CLI_BUILD_PROJECT}} --build-number=${{env.JFROG_CLI_BUILD_NUMBER}}
          jf rt bce ${{env.JFROG_CLI_BUILD_PROJECT}} ${{env.JFROG_CLI_BUILD_NUMBER}}
          jf rt bag ${{env.JFROG_CLI_BUILD_PROJECT}} ${{env.JFROG_CLI_BUILD_NUMBER}} 
          jf rt bp ${{env.JFROG_CLI_BUILD_PROJECT}} ${{env.JFROG_CLI_BUILD_NUMBER}}              
# =======================================================
# This is trying to create a workflow
# this section uses the maven build artifacts and 
# create a docker image and push to artifactory docker repository
# =======================================================   
      -
        name: 25_C-Build Docker image
        run: |          
          # Build and Push Docker Image
          echo "============ BUILDING docker ==========="

          echo "Docker Registry Host-> $JF_HOST"
          echo "Full Image Name-> $FULL_IMAGE_NAME"
          docker build -t $FULL_IMAGE_NAME .

# =======================================================
# This is the first part of the workflow with basic steps
# to build the maven project. 
# intent is to show how to deploy the docker image and
# upload artifacts to artifactory WITH using JFrog Maven Plugin
# =======================================================  

      -
        name: 25_D-Push Docker image to JFrog Artifactory JF CLI
        run: |            
          

          echo "============ Tag and Push Docker image to JF==========="          
          echo "Pushing Docker Image to JFrog..."
          docker tag $FULL_IMAGE_NAME $FULL_IMAGE_NAME
          jf docker push $FULL_IMAGE_NAME --build-name=${{env.JFROG_CLI_BUILD_PROJECT}} --build-number=${{env.JFROG_CLI_BUILD_NUMBER}}

          jf rt bce ${{env.JFROG_CLI_BUILD_PROJECT}} ${{env.JFROG_CLI_BUILD_NUMBER}}
          jf rt bag ${{env.JFROG_CLI_BUILD_PROJECT}} ${{env.JFROG_CLI_BUILD_NUMBER}} 
          jf rt bp ${{env.JFROG_CLI_BUILD_PROJECT}} ${{env.JFROG_CLI_BUILD_NUMBER}}         

# =======================================================
# This is the first part of the workflow with basic steps
# to build the maven project. 
# intent is to show how to the build the maven project and
# upload artifacts to artifactory WITH using JFrog Maven Plugin
# =======================================================

      -
        name: 30-Configure Build
        run: |
          echo "=========== Configuring Maven Repositories ==========="
          echo " release repo: ${{ vars.JF_RT_MVN_REPO_RELEASE_VIRTUAL }}"
          echo " snapshot repo: ${{ vars.JF_RT_MVN_REPO_SNAPSHOT_VIRTUAL }}"
          jf mvn-config --repo-resolve-releases ${{ vars.JF_RT_MVN_REPO_RELEASE_VIRTUAL }} --repo-resolve-snapshots ${{ vars.JF_RT_MVN_REPO_SNAPSHOT_VIRTUAL }} --repo-deploy-releases ${{ vars.JF_RT_MVN_REPO_RELEASE_VIRTUAL }} --repo-deploy-snapshots ${{ vars.JF_RT_MVN_REPO_SNAPSHOT_VIRTUAL }} --use-wrapper

          echo "=========== Configured Maven Repositories ==========="
          cat .mvn/wrapper/maven-wrapper.properties

          echo "=========== Configured JFrog Projects ==========="

          cat .jfrog/projects/maven.yaml

          echo "=========== Setting up Environment Variables petclinicArtifactName ==========="
          echo "petclinicArtifactName=$(./mvnw help:evaluate -Dexpression=project.artifactId -q -DforceStdout)" >> $GITHUB_ENV
          
          echo "=========== Setting up Environment Variables petclinicVersion ==========="
          echo "petclinicVersion=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV
      -
        name: JFrog Curation Audit
        run: |
          jf curation-audit
      -
        name: Audit Source Code
        run: |
          jf audit --licenses --format=table --mvn=true
      -
        name: 35-Build Maven package
        run: |
          echo "=========== Building Maven clean install Package ==========="
          jf mvn clean install -DskipTests=true '-Dspring-javaformat.skip=true' --project ${{ env.JFROG_CLI_BUILD_PROJECT }} -Dartifactory.publish.artifacts=false
      -
        name: 40-Scan Maven package
        run: |
          echo "=========== Scanning Maven package ==========="
          jf scan --vuln --licenses --format=json ./target/${{ env.petclinicArtifactName }}-${{ env.petclinicVersion }}.jar
      -
        name: 45-Deploy Maven package to Artifactory
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Deploying Maven Package to Artifactory ==========="
          jf mvn deploy -Dmaven.main.skip=true -Dmaven.install.skip=true -DskipTests --project ${{ env.JFROG_CLI_BUILD_PROJECT }}

          echo "=========== Publishing build info ==========="
          jf rt bce ${{env.JFROG_CLI_BUILD_NAME}} ${{env.JFROG_CLI_BUILD_NUMBER}}
          jf rt bag ${{env.JFROG_CLI_BUILD_NAME}} ${{env.JFROG_CLI_BUILD_NUMBER}}           
          jf rt build-publish --project ${{ env.JFROG_CLI_BUILD_PROJECT }} "${{ env.JFROG_CLI_BUILD_NAME }}" "${{ env.JFROG_CLI_BUILD_NUMBER }}"
      -
        name: 65-Scan build
        if: github.ref == 'refs/heads/main'
        run: |
          echo "=========== Scanning build ==========="
          jf build-scan --vuln --fail=false --project ${{ env.JFROG_CLI_BUILD_PROJECT }} "${{ env.JFROG_CLI_BUILD_NAME }}" "${{ env.JFROG_CLI_BUILD_NUMBER }}"
